@model IEnumerable<PruebaNetJuanAvila.Dto.Data.Editoriales>

@{
    ViewData["Title"] = "Index";
}

<h1>Editoriales</h1>

<p>
    <a asp-action="Create">Crear nueva editorial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
                
            </td>
        </tr>
}
    </tbody>
</table>
